# Editors
.vscode
.idea

# dependencies
node_modules
.pnp
.pnp.js

# Yarn
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
# typescript
*.tsbuildinfo

# misc
.DS_Store
*.pem

.swc
/analytics/stat-fetcher.json
