# Editors
.vscode
.idea

# dependencies
node_modules
.pnp
.pnp.js

# Yarn
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# typescript
*.tsbuildinfo

# misc
.DS_Store
*.pem

.swc