/*!****************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components_simple/StepIllustrations/stepillustrations.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************/
/* This stuff would be a bit too complex if written with Tailwind */
.stepillustrations_steps_desktop___ntFQ::before {
  bottom: -26px;
  content: ' ';
  height: 2px;
  background: #ddd;
  left: 0;
  right: 0;
  position: absolute;
}
.stepillustrations_steps_desktop___ntFQ:first-of-type::before {
  left: 50%;
}
.stepillustrations_steps_desktop___ntFQ:last-of-type::before {
  right: 50%;
}
.stepillustrations_steps_desktop___ntFQ::after {
  box-shadow: 0px 0px 0px 4px white;
  bottom: -36px;
  background: white;
  content: ' ';
  border-radius: 50px;
  border: 2px solid #ddd;
  height: 22px;
  width: 22px;
  position: absolute;
  right: calc(50% - 12px);
}

